html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  min-height: 100vh;
  text-align: center;
}

.app-wrapper {
  width: 95vw;
  margin: 0 auto;
  margin-top: 20px;
}
.app-title {
  margin: 1rem 0 1rem;
}

.master-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.master-list-title {
  padding: .5rem 0 .5rem;
  font-size: 1.4rem;
}

.master-list .box {
  flex: 0 1 10%;
  padding: .2rem .3rem;
  font-size: .7rem;
  letter-spacing: .1rem;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, .3);
  color: white;
  font-weight: 300;
}

.master-list .lighten {
  background: rgba(200, 200, 200, .5);
  color: #000000;
  font-weight: 900;
}

.btn {
  display: block;
  text-decoration: none;
  background:#FEFF00;
  padding:10px;
  color:black;
  font-weight: 700;
  border-radius:4px;
}


.generate-ticket-btn {
  margin: 50px auto 20px;
  width: 130px;
}

.start-btn {
  display: none;
  width:130px;
  margin: 50px auto 20px;
}

.playing-arena {
  display: none;
  flex-wrap: wrap;
}

.current-number-wrapper {
  flex: 1 0 100%;
  margin: 0 auto;
  padding: .5rem 1rem;
  text-align: center;
  font-weight: 700;
  color: black;
  display: flex;
  flex-direction: column;
}

.current-number-title {
  font-size: .9rem;
  font-weight: 300;
}
.current-number {
  font-size: 1.7rem;
  font-weight: 700;
}

.playing-arena .controls {
  flex: 1 1 20%;
  display: flex;
  flex-flow: column wrap;
}

.playing-arena .controls > * {
  background: orange;
  height: 30px;
  font-weight: 700;
}

.playing-arena .controls .controls-heading {
  background: white;
  margin-bottom: 15px;
  line-height: 150%;
}

.playing-arena .ticket-wrapper {
  flex: 1 1 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .4);
}

.ticket {
  display: flex;
  flex-wrap: wrap;
}

.ticket .box {
  border: 1px solid rgba(255, 255, 255, 1);
  flex: 1 1 11.11%;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
}

.ticket .box.marked {
  background: rgba(200, 200, 200, .9);
  color: #000000;
  font-weight: 900;
}

.winning-combo {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.winning-combo-btn {
  font-size: .8rem;
  padding: 5px;
  margin-top: 35px;
}

.prizes-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: 700;
}
.prizes-wrapper p {
  font-size: 1.4rem;
  flex-basis: 30%;
  align-self: center;
}
.prizes-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.prizes-wrapper ul li {
  border-bottom: 1px solid black;
  border-radius: 2px;
  padding: 2px;
  background: rgba(255, 255, 255, .4);
  font-size: .8rem;
  color: rgba(0, 0, 0, .8);
  flex-basis: 100%;
}

.prizes-wrapper ul li:last-child {
  border: none;
}

/* check its position in the file */
.btn:disabled {
  background: grey;
}